<% content_for :title do %>
  Michael Nash's Profile
<% end %>

<header id="top" class="header">　
  <div class="text-vertical-center">
    <h1>Michael E. Nash</h1>
    <h2>（許書聖）</h2>
    <h3>Integration Developer</h3>
    <br>
    <a href="#contact" class="btn btn-dark btn-lg">Contact Me</a>
    <br>
    <br>
    <a href="https://s3.amazonaws.com/nashresume/Resumev7.pdf" class="btn btn-dark btn-lg">My Resume(PDF)</a>
  </div>
</header>


<section id="about" class="about">
  <div class="container">
    <div class="row">
      <%= image_tag 'callout.jpg', class: "img-responsive profile"%>
        <div class="row">
          <div class="col-lg-12 text-left">
            <h2>I am an Software Engineer at <a href='http://www.spatialnetworks.com/'>Spatial Networks</a>, where I work on <a href='http://www.fulcrumapp.com'> Fulcrum</a>.</h2>
            <p class="lead">I am a full-stack web software developer with an academic background in Chinese History. I currently work in both React/Javascript and Ruby on Rails, with some Python scripting and Docker work as well. I graduated from The Iron Yard code school in St. Petersburg (now the Suncoast Developers Guild) in August 2015. I am also enrolled part-time in the Georgia Tech Online Master of Science in Computer Science degree program.</p>
            <p class="lead"> In addiiton to my full time professional work, my coding side projects include learning <a href="https://github.com/utumno86/GoTutorial/blob/master/mutex/main.go">Go</a>, <a href="https://github.com/utumno86/elixir_pheonix_tutorial/blob/master/discuss/web/channels/comments_channel.ex">Elixir</a>, <a href="https://github.com/utumno86/JSMachineLearning/blob/master/MLKits/regressions/linear-regression/index.js">Machine Learning/TensorFlow</a>, and <a href="https://github.com/utumno86/Arduino_Stuff/blob/master/RGB%20LED/CombiningColors/CombiningColors.ino"> IoT projects</a>.
            <p>Programming Languages:</p>
            <ul>
              <li><a href="https://github.com/utumno86/SoutheastRubyWebFramework/blob/master/roolz/lib/roolz.rb">Ruby</a></li>
                <ul>
                  <li><a href="https://github.com/utumno86/wedding/blob/master/app/controllers/guest_controller.rb">Rails</a></li>
                  <li><a href='https://github.com/utumno86/BDD_Tutorial/blob/master/blog_app/spec/features/adding_comments_spec.rb'>RSpec/Minitest</a></li>
                  <li><a href="https://github.com/utumno86/ryma/blob/master/app/controllers/api/guests_controller.rb">REST APIs</a></li>
                </ul>
              <li><a href='https://github.com/utumno86/JSMachineLearning/blob/master/MLKits/plinko/score.js'>Javascript</a></li>
                <ul>
                  <li><a href='https://github.com/utumno86/ReactTutorial/blob/master/server/client/src/components/surveys/SurveyList.js'>React</a></li>
                  <li><a href='https://github.com/utumno86/ReactTutorial/blob/master/server/client/src/reducers/index.js'>Redux</a></li>
                  <li><a href='https://github.com/utumno86/ReactTutorial/blob/master/server/routes/surveyRoutes.js'>Express.js</a></li>
                  <li><a href='https://github.com/utumno86/react_native_tutorial/blob/master/tech_stack/src/components/LibraryList.js'>React Native</a></li>
                  <li><a href='https://github.com/utumno86/typescript_tutorial/blob/master/fetchjson/index.ts'>Typescript</a></li>
                </ul>
                  <li><a href='https://github.com/utumno86/8PythonProjects/blob/master/TerminalBlog/models/menu.py'>Python</a></li>
                <ul>
                  <li><a href='https://github.com/utumno86/PricingService/blob/master/models/alert.py'>Flask</a></li>
                </ul>
              </li>
            </ul>
            <p>I am also proficient in SQL, using Oracle and Postgres databases, Git, deployment to Heroku, as well as in Chinese langauge, history, and economics topics.</p>
          </div>
        </div>
      </div>
  </section>
    <!-- Portfolio -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>My Work</h2>
        <hr class="small">
          <div class="row">
            <div class="col-md-6">
              <div class="portfolio-item">
                <h3>Ryma -- Luggage Tracking</h3>
                  <h6>Built for Hack Hospitality Hackathon August 2017</h6>
                  <h6> Check out the rails 5 API<a href="https://github.com/utumno86/ryma/blob/master/app/controllers/api/guests_controller.rb"> here.</a></h6>
                  <a href="http://ryma.herokuapp.com/">
                  <%= image_tag 'portfolio-4.png', class: "img-portfolio img-responsive"%>
                  </a>
              </div>
            </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <h3> Pricing Service</h3>
              <h6> Flask/Python Project to Set Up a Service for Watching Website prices</h6>
              <h6> The most interesting bit is alert notifications <a href="https://github.com/utumno86/PricingService/blob/master/models/alert.py"> here.</a></h6>
                <a href="https://pricing-service-mnash.herokuapp.com/">
                  <%= image_tag 'portfolio-2.png', class: "img-portfolio img-responsive"%>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="portfolio-item">
                <h3>Glamazon</h3>
                <h6>Iron Yard Project with Kelly Bristol</h6>
                <h6>The most interesting bit is the way I implemented a cart system<a href= "https://github.com/utumno86/glamazon/blob/master/app/controllers/cart_controller.rb"> here.</a></h6>
                  <a href="http://glamazon.herokuapp.com/">
                    <%= image_tag 'portfolio-3.png', class: "img-portfolio img-responsive"%>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
              <div class="portfolio-item">
                <h3>Cream of the Crop</h3>
                <h6>Iron Yard Final Project</h6>
                <h6>The most interesting bit is match generation <a href="https://github.com/utumno86/CreamOfTheCrop/blob/master/app/models/match.rb"> here.</a></h6>
                <a href="http://creamofthecrop.herokuapp.com/">
                  <%= image_tag 'portfolio-1.png', class: "img-portfolio img-responsive"%>
                </a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </section>

    <!-- Call to Action -->
<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="https://gist.github.com/utumno86/6646933ccabeda5f004b" class="btn btn-lg btn-dark">My Resume(.md)</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="https://www.youtube.com/watch?v=0heOms7DK6s&feature=youtu.be" class="btn btn-lg btn-dark">Cream of the Crop Demo</a>
      </div>
    </div>
  </div>
</aside>


    <!-- Footer -->
  <footer>
    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4><strong>Michael E. Nash</strong></h4>
            <p>Tampa, FL</p>
            <ul class="list-unstyled">
              <li><i class="fa fa-phone fa-fw"></i> (813) 326-4637</li>
              <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:utumno86@gmail.com">utumno86@gmail.com</a></li>
            </ul>
            <br>
            <ul class="list-inline">
              <li><a href="https://github.com/utumno86"><i class="fa fa-github fa-fw fa-3x"></i></a></li>
              <li><a href="https://utumno86.wordpress.com/"><i class="fa fa-wordpress fa-fw fa-3x"></i></a></li>
              <li><a href="https://twitter.com/utumno86"><i class="fa fa-twitter fa-fw fa-3x"></i></a></li>
              <li><a href="https://www.linkedin.com/in/michaelearlnash"><i class="fa fa-linkedin fa-fw fa-3x"></i></a></li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; Michael E. Nash <%= Date.today.year %></p>
          </div>
        </div>
      </div>
    </section>
  </footer>
