<% content_for :title do %>
  Payment Processing
<% end %>
<%= form_tag charges_path do %>
<div class="row">
  <div class="spacer">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <article>
          <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
          <% end %>
          <h2> The below stripe button will allow you to pay Michael for the following amount and purpose</h2>
          <label class="amount">
            <span>Amount:<%= number_to_currency(@payment.amount/100) %></span>
          </label>
          <label class="amount">
            <span>Purpose: <%=@payment.purpose %>
        </article>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="spacer">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @payment.purpose  %>"
          data-amount="<%= @payment.amount %>"
          data-locale="auto">
        </script>
        <%= hidden_field_tag(:id,value=@payment.id)%>
      </div>
    </div>
  </div>
</div>
<% end %>
